#about__description {
  color: rgb(0, 0, 0, 0.7);
  margin-bottom: 40px;
  line-height: 1.8;
}
.about__skills > div {
  margin-bottom: 50px;
  border-bottom: 2px solid rgb(32, 80, 138);
  padding: 24px;
  color: rgb(37, 69, 109);
}
@media screen and (min-width: 768px) {
  .about__skills {
    display: flex;
    gap: 30px;
  }
  .about__skills > div {
    flex-grow: 1;
  }
}

.about__skills > div:nth-child(2) {
  border-bottom: 2px solid rgb(72, 5, 5);
  color: rgb(139, 12, 12);
}
.about__skills > div:nth-child(3) {
  border-bottom: 2px solid green;
  color: rgb(3, 22, 3);
}
.about__skills > div:nth-child(4) {
  border-bottom: 2px solid rgb(92, 84, 141);
  color: rgb(54, 34, 95);
}
.about__skills i {
  font-size: 30px;
  margin-bottom: 20px;
}
.about__skills h3 {
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: black;
}

.about__happy {
  padding: 30px;
  background: #678669;
}

.about__happy > h2 {
  font-family: "Playfair Display", serif;
  color: black;
  font-weight: normal;
  margin-bottom: 30px;
  line-height: 1.5;
  font-size: 30px;
}

.about__happy > button {
  font-family: "Quicksand";
  font-size: 12px;
  font-weight: normal;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid black;
  padding: 2px 10px;
  background: transparent;
}

