#about__description {
  color: rgb(0, 0, 0, 0.7);
  margin-bottom: 40px;
  line-height: 1.8;
}
.about__skills > div {
  margin-bottom: 50px;
  border-bottom: 2px solid blue;
  padding: 24px;
  color: blue;
}
@media screen and (min-width: 768px) {
  .about__skills {
    display: flex;
    gap: 30px;
  }
  .about__skills > div {
    flex-grow: 1;
  }
}

.about__skills > div:nth-child(2) {
  border-bottom: 2px solid red;
  color: red;
}
.about__skills > div:nth-child(3) {
  border-bottom: 2px solid green;
  color: green;
}
.about__skills > div:nth-child(4) {
  border-bottom: 2px solid yellow;
  color: yellow;
}
.about__skills i {
  font-size: 30px;
  margin-bottom: 20px;
}
.about__skills h3 {
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: black;
}
