body {
  font-family: Quicksand, sans-serif;
  margin: 0;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: none;
}
h1,
h2,
h3,
p {
  all: unset;
  display: block;
}
p {
  all: unset;
  display: block;
}

ul,
li {
  all: unset;
}
